* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario{
    height: 200px;
    margin-top: 300px;
    margin-bottom: 30px;
}

button {
    color: #ffff;
    background-color: #C51111;
    border-radius: 5px;
    padding: 6px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover{
    background-color: #A52A2A;
    font-size: 14px;
    transition: .5s;
}

.imagem-mario-luigi{
    height: 500px;
    margin-top: 100px;
}

body {
    height: 100vh;
    overflow: auto;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    bottom: 100px;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;             
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}
 
.mascara {
    height: 100%;
    width: 100%;
    background:  linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);;
    position: fixed;
    top: 0;
}

.whatsapp img {
    height: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.descricao {
    color: #ffff; 
    font-size: 24px; 
    text-align: justify;
      
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.header img {
    height: 60px;
    margin: 30px;
}

.header a {
    font-size: 24px;
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
}

.header a:hover {
    color: #C51111;
    transition: .5s ease-in-out ;
    font-size: 26px;
}

.formulario-fale-conosco {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px; 
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    z-index: 1;
    transition: left 1s ease-in-out;
}

input {
    border-radius: 5px;
    height: 40px;
    outline-color: #00FF00;
    border: 1px solid gray;
    padding-left: 10px;  
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    height: 40px;
    outline-color: #00FF00;
    border: 1px solid gray;
    padding-left: 10px; 
    padding-top: 10px; 
}

    /* posiçao inicial - 
    left: -307px 
    */

    /* Final - 
    left: 50%;
    transform: translateX(-50%);
    */

 .mascara-formulario {
        visibility: hidden;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%); 
        transition: visibility 1s ease-in-out;
}

/* media query

    max-> valor menor que  Npx, aplica o css;
    min-> valor maior que Npx, apllica o css;

*/  
@media(max-width: 1100px){
    .descricao{
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
    }

    .caixa-principal{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .logo-mario {
        margin-top: 100px;
    }

    .imagem-mario-luigi{
        width: 80vw;
        height: auto;
    }

    .whatsapp img {
        height: 50px;
        right: 20px;
        bottom: 30px;
    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header img {
        display: none;
    }

    .header a {
        font-size: 18px;
        
    }



} 




